- content_for :javascript do
  = include_javascript :mustache
  = include_javascript "jquery.ezpz_hint.min"
  = include_javascript "open-city-crime"

  :javascript
    $(document).ready(function() {
      $("a.ward-selector").click(function() {
        var $element = $(this);
        var number = $element.attr("data-ward");
        var year   = $element.attr("data-year");

        $element.parent().toggleClass("current");

        var ward = new OpenCity.Ward(number, year);
        ward.present();

        return false;
      });
    });

#vis
  = haml :"year-selector"
  = haml :"ward-selector"

  .vis-label
    %h2{:id => "compare"}
      3. Compare
    %p.tip
      %strong Tip:
      Drag wards up and down to reorder for easy comparison.
      
    %p.tip
      %a{:href => "/"}
        Clear all

  .vis-content
    #compare
      #ward-charts

