!!! Strict
%html{:lang => :en}
  %head
    %title
      Crime in Chicago - An interactive analysis of crime severity in Chicago's 50 wards

    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => ''}

    = include_stylesheets "master",  :media => :screen

    = include_javascripts "jquery.min"
    = include_javascripts "jquery-ui.min"
    = include_javascripts "jquery.tooltip.min"
    = include_javascripts "jquery.sparkline.min"

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-00000000-0']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body#page
    #nav
      #nav-content
        %ul
          %li{:class => current_menu_class("home")}
            %a{:href => "/"} Home
            
          %li{:class => current_menu_class("about")}
            %a{:href => "/about"} About
          
    #identity
      #identity-content
        %a{:href => "/"}
          %img{:alt => "Crime in Chicago", :src => "/images/logo.png"}
        #tagline
          An interactive analysis of crime severity in Chicago's 50 wards

    #content
    
      = yield

      .clear
    
    #subfooter
      #subfooter-content
        %h2 About this site
        %p 
          Sed eget nibh massa, id suscipit metus. Vestibulum cursus luctus felis, in posuere odio euismod quis. Pellentesque lacinia, metus vel suscipit porttitor, odio tellus adipiscing ipsum, ut mollis nunc turpis a dolor. Pellentesque lacus quam, egestas in lobortis eget, venenatis non nulla. Mauris sagittis orci pretium lacus faucibus placerat. Fusce porttitor euismod convallis. Mauris condimentum egestas sapien ac auctor. Praesent vel elit risus.
        #subfooter-secondary
        %h2 Get the posters
        %p 
          See crime data for
          %strong all 50 wards
          compared on a single poster printed on high-quality materials.
    #footer Crime in Chicago was designed and developed by [name]. &copy; 2012
