!!! Strict
%html{:lang => :en}
  %head
    %title
      Crime in Chicago's Words

    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=uft-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => ''}

    = include_stylesheets "default",  :media => :screen

    = include_javascripts "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    = include_javascripts "jquery.dataTables.min",   :media => :screen
    = include_javascripts "jquery.sparkline.min",    :media => :screen
    = include_javascripts :highcharts
    =# include_javascripts "bootstrap/1.3.0/bootstrap-dropdown",    :media => :screen
    =# include_javascripts "bootstrap/1.3.0/bootstrap-twipsy",  :media => :screen
    =# include_javascripts "bootstrap/1.3.0/bootstrap-popover",  :media => :screen
    =# include_javascripts :application

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-00000000-0']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body{:id => :page}
    %h1
      Crime in Chicago's Words
    %p

    %ul
      %li
        %a{:href => "1.html"}
          %img{:alt => "1-thumb.jpg"}
          %span{:class => :num}= "Home"
      %li
        %a{:href => "2.html", :src => "2-thumb.jpg"}
          %img{:alt => "2-thumb.jpg", :src => "2-thumb.jpg"}
          %span{:class => :num}= "Contextual stats"
      %li
        %a{:href => "3.html", :src => "3-thumb.jpg"}
          %img{:alt => "3-thumb.jpg", :src => "3-thumb.jpg"}
          %span{:class => :num}= "Ward"

    %div{:class => :clear}

