!!! Strict
%html{:lang => :en}
  %head
    %title
      Crime in Chicago - An interactive analysis of crime severity in Chicago's 50 wards

    %meta{"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "Content-Style-Type", :content => "text/css"}
    %meta{:name => "google-site-verification",  :content => ''}

    = include_favicon :favicon

    = include_stylesheet :master,      :media => :screen
    = include_stylesheet :colorbrewer, :media => :screen

    = include_javascript "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = include_javascript "http://maps.googleapis.com/maps/api/js?sensor=false"
    = include_javascript "http://www.google.com/jsapi"
    = include_javascript :fusion_maps
    = include_javascript "jquery-addons"
    = include_javascript "jquery-ui.min"
    = include_javascript "jquery.tooltip.min"
    = include_javascript "jquery.sparkline.min"
    = include_javascript :d3
    = include_javascript "d3.time"
    = include_javascript :application
    = content :javascript

    :javascript
      google.load('visualization', '1', {}); //used for custom SQL call to get count

    - if production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-00000000-0']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google.com'
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body#page
    #nav
      #nav-content
        %ul
          %li{:class => current_menu_class("home")}
            = link_to "Home", "/"
            
          %li{:class => current_menu_class("about")}
            = link_to "About", "/about"
          
          %li{:class => current_menu_class("poster"), :id => "get-poster"}
            = link_to "Get the poster", "/poster"
          
    #identity
      #identity-content
        %a{:href => "/"}
          %img{:alt => "Crime in Chicago", :src => "/images/logo.png"}
        #tagline
          An interactive analysis of crime severity in Chicago's 50 wards

    #content
    
      = yield

      .clear
    
    #subfooter
      #subfooter-content
        #subfooter-primary
          %h2 About this site
          %p 
            Sed eget nibh massa, id suscipit metus. Vestibulum cursus luctus felis, in posuere odio euismod quis. Pellentesque lacinia, metus vel suscipit porttitor, odio tellus adipiscing ipsum, ut mollis nunc turpis a dolor. Pellentesque lacus quam, egestas in lobortis eget, venenatis non nulla. Mauris sagittis orci pretium lacus faucibus placerat. Fusce porttitor euismod convallis. Mauris condimentum egestas sapien ac auctor. Praesent vel elit risus.
        #subfooter-secondary
          = link_to "#{image_tag('poster-thumb.png', 'alt' => 'Testing')}", "/poster"
          %h2 Get the poster
          %p 
            See crime data for
            %strong all 50 wards
            compared on a single poster printed on high-quality materials.
          %p
            = link_to "Pricing and details &raquo;", "/poster"
    #footer
      &copy; 2012. Crime in Chicago was designed and developed by
      = link_to "Open City", "http://www.opencityapps.org"

