.timeline{:id => "ward-#{ward}-#{year}"}
  %span.handle{:title => "Drag to reorder"}
  %a.remove{:href => "#", :title => "Remove"} Remove
  %h2
    %a.ward-title{:href => "#"}
      == Ward #{ward} [#{year}]
    %span
      = link_to "View all ward details", "/wards/#{ward}"
      &raquo;

  = haml :"ward_heatmap", :locals => { :identity => ward, :year => year }
  = haml :"ward_stats", :locals => { :ward => ward, :map_src => map_src, :year => year }

  .clear

