- content_for :javascript do
  = include_javascript "dataTables.sorting"
  = include_javascript "highcharts"
  = include_javascript "fusiontables.ward"
  :javascript
    $(document).ready(function() {
      var year = 2011;
      while (year > 2006)
      {
        WardDetail.create("#{ward}", year, "#history");
        year--;
      }
      
      $("#trends a").click(function() {
        var primary_type = $(this).attr("data-category");
        if ($('#expanded-' + primary_type).exists()) {
          $('#expanded-' + primary_type).remove();
          return false;
        }
        else
        {
          //append a new tr for expanded row
          var expandedPlaceholder = "<tr><td colspan='6' id='expanded-" + primary_type + "'><div class='highchart' id='expanded-" + primary_type + "-chart'></td></tr></div>";
          $(expandedPlaceholder).insertAfter("#category-" + primary_type);
          CategoryChart.create(#{ward}, primary_type);
          WardDetail.subcategories(#{ward}, primary_type);
          return false;
        }
      });
      
      // History toggle
      $("#history-toggle").click(
        function(){
          while (year > 2001)
          {
            WardDetail.create("#{ward}", year, "#history");
            year--;
          } 
          $(this).hide();
          return false;
        }); 
        
        
        /*
        $(".toggle-trigger").toggle(
        function(){
          if (!$("#ward-#{ward}-2002").exists()) {
            while (year > 2001)
            {
              WardDetail.create("#{ward}", year, "#history");
              year--;
            }
          }
          
          var target = $(this).attr("href");
          var origHeight = $(target).height();
          $(target).css("height", "auto");
          var autoHeight = $(target).height();
          $(target).css("height", origHeight + "px")
          $(target).animate({ height: autoHeight + "px" }, 500, function(){
            $(this).find(".toggle-overlay").hide();
          });
          $(this).text("Less");
        },
        function(){
          var target = $(this).attr("href");
          $(target + " .toggle-overlay").show();
          $(target).animate({ height: "580px" }, 500);
          $(this).text("More");
        }
      );
        */
        
      // DataTables
      $("#trends").dataTable({
        "aoColumns": [
          null,
          { "bSortable": false },
          { "sType": "number-comma" },
          { "sType": "number-comma" },
          { "sType": "number-comma" },
          { "sType": "number-comma" }
        ],
        "aaSorting": [[ 5, "desc" ]],
        "bFilter": false,
        "bInfo": false,
        "bLengthChange": false,
        "bPaginate": false
      });
      
      // Sparklines
      $(".sparkline").sparkline("html", {
        chartRangeMin: 0,
        fillColor: "#ddf2fb",
        height: "20px",
        lineColor: "#518fc9",
        lineWidth: 1,
        minSpotColor: "#0b810b",
        maxSpotColor: "#c10202",
        spotColor: false,
        spotRadius: 2,
        width: "240px"
      });
      
      FusiontableWard.create("#{ward}");
    });
    
%h1 
  Ward #{ward}

#content-primary
  #sharing
    .addthis_toolbox.addthis_default_style
      %a.addthis_button_facebook_like{":fb:like:layout" => "button_count"}
      %a.addthis_button_tweet
      %a.addthis_button_google_plusone{":g:plusone:size" => "medium"}
      %a.addthis_counter.addthis_pill_style
    %script{:type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f088e6e414fa998"}
    %script{:type => "text/javascript"}
      var addthis_config = { ui_click: true }
  
  #history
    .toggle-overlay
    
  
  %p.toggle
    %a{:href => "#", :id => "history-toggle"} More
  
  %hr
  
  %h2 Crimes
  
  %table#trends
    %thead
      %tr
        %th Crime
        %th{:style => "width: 200px;"}
          %span 117 months*
          %ol.xaxis
            - (2..11).each do |year|
              %li.tick{:style => "width: 10%;"}
                = "&lsquo;%02d" % year
        %th.num
          %span Low
        %th.num
          %span Avg
        %th.num
          %span High
        %th.num
          %span Total
    %tfoot
      %tr
        %td.mute{:colspan => 6}
          *Individual crimes were not associated with wards until April 2002.
          %br
          Earlier data is available but sporadic and therefore not included.
    %tbody
      - ward_detail_category_list(ward).each do |hash|
        - @category_sparkline = ""
        - ward_detail_category_sparkline(ward, hash[:primary_type]).each do |s|
          - @category_sparkline += "#{s[:crime_count]},"
        - @category_sparkline = @category_sparkline.chomp(",")
        %tr{:id => "category-#{encode_element_id hash[:primary_type]}"}
          %td
            %a{:href => "#", :"data-category" => (encode_element_id hash[:primary_type]), :"data-values" => @category_sparkline}
              = hash[:primary_type].briefcase
          %td
            %span.sparkline
              = @category_sparkline
          %td.min.num 
            = format_number hash[:minimum]
          %td.num 
            = format_number hash[:average]
          %td.max.num
            = format_number hash[:maximum]
          %td.num
            = format_number hash[:total]

#content-secondary
  #alderman
    - @ward_office = ward_office(ward)
    %img{:alt => "", :src => "/images/aldermen/#{@ward_office[:image]}"}
    %h2
      Alderman
      %br
      = @ward_office[:alderman].titleize
    %dl
      %dt Ward office
      %dd
        = @ward_office[:ward_address].titleize
        %br
        = "#{@ward_office[:ward_city].titleize}, #{@ward_office[:ward_state]} #{@ward_office[:ward_zipcode]}"
        %br
        = @ward_office[:ward_phone]
        - if !@ward_office[:email].nil? 
          %br
          = link_to "Send email", "mailto:#{@ward_office[:email]}"
        %br
        = link_to "Website", @ward_office[:website], :rel => :external
      
      - if (!@ward_office[:city_hall_address].nil?)  
        %dt City Hall office
        %dd
          = @ward_office[:city_hall_address].titleize
          %br
          = "#{@ward_office[:city_hall_city].titleize}, #{@ward_office[:city_hall_state]} #{@ward_office[:city_hall_zipcode]}"
          %br
          = @ward_office[:city_hall_phone]
  %hr
  
  %h2
    Location
    %span
      %a{:href => "#"} Enlarge
  
  #map_canvas_detail
  
  %hr

