.panel
  %h3 Number of crimes

  .crime-volume.yearly
    %ol.chart-column
      - current_year_crimes = 0
      - max = @crimes_by_year.map{ |hash| hash[:crime_count_for_year] }.max

      - @crimes_by_year.each do |hash|
        - percentage = number_to_percentage(hash[:crime_count_for_year].to_f / max)
        - current = hash[:year].to_s == year ? "current" : nil
        - title = "#{hash[:year]} - #{number_with_delimiter hash[:crime_count_for_year]} crimes"

        - if current
          - current_year_crimes = hash[:crime_count_for_year]

        %li{:style => "width: 10%;", :class => "#{current}"}
          %span.point
            %span.idx{ :style => "height: #{percentage}%;", :title => title }

    .xaxis
      .tick.first 
        2002
      .tick.last
        2011
  .summary
    %p
      %span.summary_count
        %strong 
          = number_with_delimiter current_year_crimes
      in
      %span.year
        = year
    
    - if year.to_i > 2002
      - previous_year = year.to_i - 1
      %p
        %span.mute
          = "#{year_comparison(@crimes_by_year, year.to_i, previous_year)}% from #{previous_year}"

